@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/**********
  GLOBAL
**********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  transition: all 300ms ease;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

button {
  cursor: pointer;
}

label {
  font-size: 14px;
  font-weight: bold;
}

input, textarea {
  width: 100%;
  color: #242424;
  font-weight: 700;
  outline: none;
  border: 3px solid #1C4442;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
  padding: 3px
}

textarea {
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

input:hover, textarea:hover {
  border-color: #dcdfe6;
}

input:focus, textarea:focus {
  border-color: #1C4442;
}


nav,
.scroll,
.header {
  opacity: 1;
  visibility: visible;
  transition: all 600ms 800ms;
}

.modal--open nav, 
.modal--open .scroll, 
.modal--open .header {
  opacity: 0;
  visibility: hidden;
  transition: all 400ms;
}

/******************
  GLOBAL CLASSES
******************/

.click {
  transition: all 300ms ease;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.1)
}

.click:active {
  transform: scale(0.8);
}

.main--color {
  color: #85ccc9
}

.container {
  padding: 56px 0;
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.link__hover-effect {
  position: relative
}

.link__hover-effect:after {
  content: '';
  position: absolute;
  bottom: -3px;
  right: 0;
  height: 3px;
  width: 0;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}

.link__hover-effect--white:after {
  background-color: #fff;
}

.link__hover-effect--black:after {
  background-color: #242424;
}

.section__title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 60px;
}

.section__subtitle {
  text-align: center;
  font-size: 32px;
  margin-bottom: 48px;
}

/*********************
  BACKGROUND COLORS
**********************/
input, textarea {
  background-color: #85ccc9;
}

#landing-page {
  background-image: linear-gradient(180deg, #fbfcff, #85ccc9);
}

#quote__section {
  background-image: linear-gradient(0deg, #fbfcff, #85ccc9)
}
#about__me {
  background-color: #fbfcff;
  color: #242424;
}

#projects {
  background-color: #fbfcff;
  color: #242424;
}

.contact__me-bg {
  background-color: #85ccc9;
}

footer {
  background-color: #242424;
}

/*************
  DARK THEME
*************/

.dark-theme textarea,
.dark-theme input {
    color: #242424;
    font-weight: 700;
}

.dark-theme .title, 
.dark-theme .section__sub-title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para,
.dark-theme .about__me--text {
    color: #fff;
}

.dark-theme .section__title,
.dark-theme .section__subtitle {
    color: #85ccc9;
}

.dark-theme .main--color {
    color: #fff;
}

.dark-theme section {
    background-color: #242424!important;
}

.dark-theme #landing-page {
    background-image: linear-gradient(180deg, #242424, #85ccc9);
}

.dark-theme #quote__section {
    background-image: linear-gradient(0deg, #242424, #85ccc9);
}

.dark-theme .contact__me-bg {
    background-color: #1c4442;
    color: #fff;
}

.dark-theme .form__submit {
  background-color: #85ccc9;
  border: 2px solid #85ccc9;
  color: #242424;
}

.dark-theme #personal-logo {
    filter: none;
}

.dark-theme .scroll__icon {
    border-color: #242424;
}

.dark-theme .scroll__icon:after,
.dark-theme .link__hover-effect--black:after {
    background-color: #242424;
}

.dark-theme .mail__btn {
    background-color: #fff;
}

.dark-theme .highlighted-text,
.dark-theme .title--secondary {
    color: #85ccc9;
}

.dark-theme .mail {
  color: #242424;
}

.dark-theme .language__name {
  color: #fff;
}

.dark-theme .personal-logo {
  filter: invert(1)
}

.dark-theme .quote__box {
  border: 3px solid #85ccc9;
  color: #fff;
}

.dark-theme .quote__title {
  background: #85ccc9;
  color: #242424;
}

.dark-theme .left_top {
  border-color: transparent transparent #85ccc9 transparent;
}

.dark-theme .right_top {
  border-color: transparent transparent transparent #85ccc9;
}

.dark-theme .left_bottom {
  border-color: transparent #85ccc9 transparent transparent ;
}

.dark-theme .right_bottom {
  border-color: #85ccc9 transparent transparent transparent;
}

/**********
   SHAPES
***********/

.shapes {
  z-index: 2;
}
.shape {
position: absolute;
}

.shape--0 {
top: 15vh;
left: 5vw;
}
.shape--1 {
top: 15vh;
left: 50vw;
}
.shape--2 {
top: 15vh;
left: 80vw;
}
.shape--3 {
top: 50vh;
left: 5vw;
}
.shape--4 {
top: 50vh;
left: 50vw;
}
.shape--5 {
top: 50vh;
left: 80vw;
}
.shape--6 {
top: 80vh;
left: 5vw;
}
.shape--7 {
top: 80vh;
left: 50vw;
}
.shape--8 {
top: 80vh;
left: 80vw;
}

/**************
    MODAL
***************/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -3;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
  visibility: visible;
}

.modal--open .modal__about,
.modal--open .modal__contact {
  transform: translateX(0%)
}

.modal__half {
  width: 50%;
  padding: 40px 72px;
  transition: all 300ms ease;
}

.modal__about {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateX(-110%);
}

.modal__title {
  font-size: 26px;
}

.modal__sub-title {
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para {
  margin-bottom: 12px;
  line-height: 1.75;
}

.modal__contact {
  color: #fff;
  transform: translateX(110%);
  background-size: cover;
  background-position: center;
}

.modal__exit {
  position: absolute;
  top: 30px;
  right: 40px;
  color: #fff;
  font-size: 36px;
  z-index: 100;
}

/**************
  MEDIA QUERY
***************/

/* Small Phones, Tablets, Large Smartphones */
@media (max-width: 768px) {
  .modal {
      top: 0;
      left: 0;
      height: auto;
      transform: none;
      width: 100%;
      flex-direction: column-reverse;
      border-radius: 0;
  }
  .modal,
  .modal__half {
      width: 100%;
  }
  .modal__contact {
    height:500px;
  }
  .shape--3,
  .shape--4 {
    display: none;
  }
}

/* Small Phones */ 
@media (max-width: 480px) {
  .modal__half {
      padding: 40px;
  }
}
